CS 210/three/database.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT DATABASE (TABLE*)>
<!ELEMENT TABLE (TABLENAME*)>
<!ELEMENT TABLENAME (#PCDATA)>
<!ELEMENT FIELD (FIELDTYPE,FIELDNAME)>
<!ELEMENT FIELDTYPE (VALUE)>
<!ELEMENT FIELDTYPE (#PCDATA)>
<!ELEMENT FIELDNAME (#PCDATA)>
<!ATTLIST DATABASE
	TABLENAME CDATA #REQUIRED
	FIELDTYPE CDATA #REQUIRED
	FIELDNAME CDATA #REQUIRED
	>
